@import "../theme/index";
.openWrapper {
  width: 280px;
  box-shadow: 0px 0px 10px #f2f2f2;
  position: relative;
  top: -1px;
}
.lightWrapper {
  background-color: white;
}
.darkWrapper {
  background-color: $dark-background;
}
.closeWrapper {
  width: 86px;
  position: relative;
}

.lightTab {
  height: 35px;
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 10px;
  color: $primary;
}
.lightTabActive {
  height: 45px;
  font-size: 17px;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $focused;
  background-color: $teal;
  border-radius: 8px;
  font-weight: 600;
  overflow: hidden;
  z-index: 2;
  position: relative;
  svg,
  path {
    fill: $focused !important;
  }
  &::before {
    content: "";
    width: 4px;
    height: 45px;
    background-color: $focused;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}
.lightCloseButton {
  border: 2px solid rgb(231, 236, 242);
  background-color: white;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 450px;
  left: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:hover {
    border: 2px solid rgb(231, 236, 242) !important;
    background-color: white;
  }
  &:focus {
    border: 2px solid rgb(231, 236, 242) !important;
    background-color: white;
  }
  svg,
  path {
    fill: $focused;
  }
}
.closeTab {
  .link {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .openWrapper {
    display: none;
  }
  .closeWrapper {
    display: none;
  }
  .lightTabActive {
    justify-content: inherit;
  }
}
